
.DS_Store
target/CCS-Web-Project-1.0.0.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/bullet_point.png
target/surefire-reports/CCS Suite/CCS Test 1.html
target/surefire-reports/CCS Suite/CCS Test 1.xml
target/surefire-reports/CCS Suite/CCS Test 2.html
target/surefire-reports/CCS Suite/CCS Test 2.xml
target/surefire-reports/CCS Suite/CCS Test 3.html
target/surefire-reports/CCS Suite/CCS Test 3.xml
target/surefire-reports/collapseall.gif
target/surefire-reports/emailable-report.html
target/surefire-reports/failed.png
target/surefire-reports/index.html
target/surefire-reports/jquery-1.7.1.min.js
target/surefire-reports/junitreports/TEST-com.ccs.runner.TestExecutor.xml
target/surefire-reports/navigator-bullet.png
target/surefire-reports/old/CCS Suite/CCS Test 1.properties
target/surefire-reports/old/CCS Suite/CCS Test 2.properties
target/surefire-reports/old/CCS Suite/CCS Test 3.properties
target/surefire-reports/old/CCS Suite/classes.html
target/surefire-reports/old/CCS Suite/groups.html
target/surefire-reports/old/CCS Suite/index.html
target/surefire-reports/old/CCS Suite/main.html
target/surefire-reports/old/CCS Suite/methods-alphabetical.html
target/surefire-reports/old/CCS Suite/methods-not-run.html
target/surefire-reports/old/CCS Suite/methods.html
target/surefire-reports/old/CCS Suite/reporter-output.html
target/surefire-reports/old/CCS Suite/testng.xml.html
target/surefire-reports/old/CCS Suite/toc.html
target/surefire-reports/old/index.html
target/surefire-reports/passed.png
target/surefire-reports/skipped.png
target/surefire-reports/TEST-TestSuite.xml
target/surefire-reports/testng-reports.css
target/surefire-reports/testng-reports.js
target/surefire-reports/testng-results.xml
target/surefire-reports/testng.css
target/surefire-reports/TestSuite.txt
target/test-classes/browserstack.config.json
target/test-classes/data/TestDataSheet.xlsx
target/test-classes/objectRepository/dashboard.properties
target/test-classes/objectRepository/home.properties
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
logfile.log
.idea/workspace.xml
logfile.log
logfile.log
screenshots/TC001_RegisterOrganisation_04082022_135839.png
screenshots/TC001_RegisterOrganisation_04082022_135841.png
screenshots/TC001_RegisterOrganisation_04082022_135844.png
screenshots/TC001_RegisterOrganisation_04082022_135847.png
target/html-report/index.html
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/CCS Suite/testng-failed.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/surefire-reports/testng-failed.xml
target/test-classes/objectRepository/createAccount.properties
screenshots/TC001_RegBuyerOrganisation_04082022_151057.png
target/html-report/index.html
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/test-classes/data/~$TestDataSheet.xlsx
target/test-classes/objectRepository/createAccount.properties
.idea/libraries/Maven__com_aventstack_extentreports_3_1_5.xml
.idea/libraries/Maven__com_beust_jcommander_1_72.xml
.idea/libraries/Maven__com_browserstack_browserstack_local_java_1_0_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_0.xml
.idea/libraries/Maven__com_github_virtuald_curvesapi_1_04.xml
.idea/libraries/Maven__com_google_auto_auto_common_1_2.xml
.idea/libraries/Maven__com_google_auto_service_auto_service_1_0_1.xml
.idea/libraries/Maven__com_google_auto_service_auto_service_annotations_1_0_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_7_1.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_guava_guava_31_0_1_jre.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_6_2.xml
.idea/libraries/Maven__com_typesafe_netty_netty_reactive_streams_2_0_4.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_10.xml
.idea/libraries/Maven__commons_io_commons_io_2_7.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__io_github_bonigarcia_webdrivermanager_3_8_1.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_http_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_codec_socks_4_1_60_Final.xml
.idea/libraries/Maven__io_netty_netty_common_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_handler_proxy_4_1_60_Final.xml
.idea/libraries/Maven__io_netty_netty_resolver_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_classes_epoll_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_classes_kqueue_4_1_70_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_epoll_linux_x86_64_4_1_60_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_kqueue_osx_x86_64_4_1_60_Final.xml
.idea/libraries/Maven__io_netty_netty_transport_native_unix_common_4_1_70_Final.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_api_1_9_1.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_api_metrics_1_9_1_alpha.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_context_1_9_1.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_exporter_logging_1_9_1.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_1_9_1.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_common_1_9_1.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_extension_autoconfigure_1_9_1_alpha.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_extension_autoconfigure_spi_1_9_1.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_logs_1_9_1_alpha.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_metrics_1_9_1_alpha.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_sdk_trace_1_9_1.xml
.idea/libraries/Maven__io_opentelemetry_opentelemetry_semconv_1_9_1_alpha.xml
.idea/libraries/Maven__io_ous_jtoml_2_0_0.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_2.xml
.idea/libraries/Maven__net_jodah_failsafe_2_4_4.xml
.idea/libraries/Maven__org_apache_commons_commons_collections4_4_1.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
.idea/libraries/Maven__org_apache_extras_beanshell_bsh_2_0b6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_2.xml
.idea/libraries/Maven__org_apache_poi_poi_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_3_17.xml
.idea/libraries/Maven__org_apache_poi_poi_ooxml_schemas_3_17.xml
.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_6_0.xml
.idea/libraries/Maven__org_asynchttpclient_async_http_client_2_12_3.xml
.idea/libraries/Maven__org_asynchttpclient_async_http_client_netty_utils_2_12_3.xml
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_1q.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_3_12_0.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_23.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_json_json_20160212.xml
.idea/libraries/Maven__org_jsoup_jsoup_1_9_2.xml
.idea/libraries/Maven__org_mongodb_bson_3_3_0.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_3_3_0.xml
.idea/libraries/Maven__org_mongodb_mongodb_driver_core_3_3_0.xml
.idea/libraries/Maven__org_rauschig_jarchivelib_1_0_0.xml
.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chromium_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v85_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v94_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v95_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_devtools_v96_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_xpi_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_http_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_json_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_4_1_1.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_4_1_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_testng_testng_6_14_3.xml
.idea/libraries/Maven__stax_stax_api_1_0_1.xml
.idea/modules.xml
CCS-Web-Project.iml
target/html-report/index.html
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/test-classes/objectRepository/account.properties
target/test-classes/objectRepository/createAccount.properties
target/test-classes/objectRepository/signin.properties
target/test-classes/objectRepository/site.properties
screenshots/TC001_AddDeleteContact_08082022_101947.png
screenshots/TC001_AddDeleteContact_08082022_102022.png
target/html-report/index.html
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/test-classes/objectRepository/account.properties
target/test-classes/objectRepository/createAccount.properties
target/test-classes/objectRepository/signin.properties
target/test-classes/objectRepository/site.properties
target/html-report/index.html
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/test-classes/objectRepository/account.properties
target/test-classes/objectRepository/createAccount.properties
target/test-classes/objectRepository/signin.properties
target/test-classes/objectRepository/site.properties
screenshots/TC001_AddDeleteContact_08082022_110121.png
screenshots/TC001_AddDeleteContact_08082022_110123.png
screenshots/TC001_AddDeleteContact_08082022_110125.png
screenshots/TC001_AddDeleteContact_08082022_110126.png
target/html-report/index.html
target/surefire-reports/2022-08-08T11-00-23_096-jvmRun1.dump
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/test-classes/objectRepository/account.properties
target/test-classes/objectRepository/createAccount.properties
target/test-classes/objectRepository/signin.properties
target/test-classes/objectRepository/site.properties
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_1v.xml
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_1w.xml
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_0x.xml
.idea/libraries/Maven__io_percy_percy_java_selenium_1_0_0.xml
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_0yd.xml
.idea/libraries/Maven__org_json_json_20210307.xml
logfile.log
target/CCS-Web-Project-1.0.0a.jar
target/html-report/index.html
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/test-classes/objectRepository/account.properties
target/test-classes/objectRepository/createAccount.properties
target/test-classes/objectRepository/manageOrgUser.properties
target/test-classes/objectRepository/org.properties
target/test-classes/objectRepository/signin.properties
target/test-classes/objectRepository/site.properties
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_0ye.xml
logfile.log
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_1_b.xml
logfile.log
target/html-report/index.html
target/surefire-reports/CCS Suite/CCS Test 4.html
target/surefire-reports/CCS Suite/CCS Test 4.xml
target/surefire-reports/CCS Suite/CCS Test 5.html
target/surefire-reports/CCS Suite/CCS Test 5.xml
target/surefire-reports/old/CCS Suite/CCS Test 4.properties
target/surefire-reports/old/CCS Suite/CCS Test 5.properties
target/test-classes/objectRepository/account.properties
target/test-classes/objectRepository/createAccount.properties
target/test-classes/objectRepository/org.properties
target/test-classes/objectRepository/signin.properties
target/test-classes/objectRepository/site.properties
logfile.log
.idea/libraries/Maven__org_ccs_CCS_Web_Master_1_0_1_c.xml
logfile.log
