<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CCS Suite" data-provider-thread-count="3" parallel="tests">
    <test name="CCS Test 1">
        <parameter name="config" value="browserstack.config.json"/>
        <parameter name="environment" value="env1"/>
        <classes>
            <class name="com.ccs.runner.TestExecutor"/>
        </classes>
    </test> <!-- Test -->
    <test name="CCS Test 2">
        <parameter name="config" value="browserstack.config.json"/>
        <parameter name="environment" value="env2"/>
        <classes>
            <class name="com.ccs.runner.TestExecutor"/>
        </classes>
    </test> <!-- Test -->
    <test name="CCS Test 3">
        <parameter name="config" value="browserstack.config.json"/>
        <parameter name="environment" value="env3"/>
        <classes>
            <class name="com.ccs.runner.TestExecutor"/>
        </classes>
    </test> <!-- Test -->
    <test name="CCS Test 4">
        <parameter name="config" value="browserstack.config.json"/>
        <parameter name="environment" value="env4"/>
        <classes>
            <class name="com.ccs.runner.TestExecutor"/>
        </classes>
    </test> <!-- Test -->
    <test name="CCS Test 5">
        <parameter name="config" value="browserstack.config.json"/>
        <parameter name="environment" value="env5"/>
        <classes>
            <class name="com.ccs.runner.TestExecutor"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
